<div class="px-auto">
  <div
    class="flex flex-col text-center pt-12 pb-12 pl-6 pr-6 gap-5 md:p-16 md:gap-9 items-center justify-center"
  >
    <span class="text-3xl font-bold mb-2">Sign in or create an account</span>
    <div
      class="block w-full sm:w-[30%] p-6 bg-white border border-gray-200 rounded-lg shadow mb-8"
      *ngIf="!loggedIn"
    >
      <!-- Display success message -->
      <div *ngIf="successMessage" class="text-green-600 font-semibold mb-2">
        {{ successMessage }}
      </div>

      <!-- Display error message -->
      <div *ngIf="errorMessage" class="text-red-600 font-semibold mb-2">
        {{ errorMessage }}
      </div>
      <form
        #loginForm="ngForm"
        (ngSubmit)="onSubmit(loginForm)"
        class="text-left"
      >
        <div class="text-md font-normal text-red-600 mb-6">
          * indicates required fields
        </div>
        <div class="mb-6">
          <input
            type="email"
            id="email"
            name="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* Username or e-mail address"
            required
            [(ngModel)]="email"
          />
        </div>
        <div class="mb-6">
          <input
            type="password"
            id="password"
            name="password"
            placeholder="* Password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            required
            [(ngModel)]="password"
          />
        </div>
        <div class="mb-6">
          <mat-checkbox class="text-sm">Keep me signed in</mat-checkbox>
        </div>
        <div class="mb-6 text-center">
          <a href="/forgot-password" class="text-md mb-6"
            >Forgot your password?
          </a>
        </div>

        <button
          type="submit"
          [disabled]="!loginForm.valid"
          class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-4 text-center shadow-sm"
        >
          Sign In
        </button>
      </form>
    </div>
    <span class="text-md text-green-600 font-semibold" *ngIf="!loggedIn"
      >Join Cafe</span
    >
    <a
      href="/register"
      *ngIf="!loggedIn"
      class="text-green-600 bg-transparent hover:bg-green-200 hover:text-green-800 border hover:border-green-800 border-green-600 focus:ring-4 focus:outline-none font-medium rounded-full text-sm px-5 py-2 text-center shadow-sm"
      >Join Now</a
    >
    <span class="text-md text-red-600 font-semibold" *ngIf="loggedIn"
      >You are already logged in</span
    >
  </div>
</div>
