<div class="px-auto">
    <div class="flex flex-col text-center pt-12 pb-12 pl-6 pr-6 gap-5 md:p-16 md:gap-9 items-center justify-center">
        <span class="text-3xl font-bold mb-2">Sign in or create an account</span>
        <div class="block w-full sm:w-[30%] p-6 bg-white border border-gray-200 rounded-lg shadow mb-8">
            <form class="text-left ">
                <div class="text-md font-normal text-red-600 mb-6">* indicates required fields</div>
                <div class="mb-6">
                <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " placeholder="* Username or e-mail address" required>
                </div>
                <div class="mb-6">
                <input type="password" id="password" placeholder="* Password" class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 " required>
                </div>
                <div class="mb-6">
                    <mat-checkbox>Keep me signed in</mat-checkbox>
                    
                </div>
                <div class="mb-6 text-center">
                    <a class="text-md mb-6">Forgot your password? </a>
                </div>
                
                <button type="submit" class=" text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-4 text-center shadow-sm">Sign In</button>
            </form>
        </div>
        <span class="text-md text-green-600 font-semibold">Join Bucks</span>
        <a href="" class=" text-green-600  bg-transparent hover:bg-green-200 hover:text-green-800 border hover:border-green-800 border-green-600 focus:ring-4 focus:outline-none font-medium rounded-full text-sm px-5 py-2 text-center shadow-sm">Join Now</a>
    </div>   
</div>