<div class="px-auto">
    <div class="flex flex-col sm:flex-row">
        <div class="w-full md:w-1/2 bg-image -order-10 md:order-1 flex flex-row md:items-center md:justify-center min-h-full">
             <img src="https://img.freepik.com/free-photo/cup-coffee-with-leaf-design-it_1340-23640.jpg?size=626&ext=jpg&ga=GA1.2.77226345.1688927880&semt=sph" alt="coffee" class="w-full h-full object-cover">
        </div>
        <div class="w-full md:w-1/2 bg-green-700 md:order-2 flex flex-row md:items-center md:justify-center">
            <div class="flex flex-col text-center pt-12 pb-12 pl-6 pr-6 gap-5 md:p-16 md:gap-9 text-white">
                <span class="text-6xl font-bold mb-2">Cool off with 50% off</span>
                <span class="text-2xl mb-4">Starbucks® Rewards members, enjoy 50% off a cold drink on Wednesdays after 12 p.m.*</span>
                <button class="mx-auto bg-transparent hover:bg-green-800 text-white font-bold text-xl hover:text-white border border-white px-4 py-2 rounded-full w-36">Buy Now</button>
            </div>   
        </div>
    </div>
</div>
