<div class="px-auto">
  <div
    class="flex flex-col text-center pt-12 pb-12 pl-6 pr-6 gap-5 md:p-16 md:gap-9 items-center justify-center"
  >
    <span class="text-3xl font-bold mb-2">Register an Account</span>
    <div
      class="block w-full sm:w-[30%] p-6 bg-white border border-gray-200 rounded-lg shadow mb-8"
      *ngIf="!loggedIn"
    >
      <!-- Display success message -->
      <div *ngIf="successMessage" class="text-green-600 font-semibold mb-2">
        {{ successMessage }}
      </div>

      <!-- Display error message -->
      <div *ngIf="errorMessage" class="text-red-600 font-semibold mb-2">
        {{ errorMessage }}
      </div>
      <form
        (ngSubmit)="onSubmit(registerForm)"
        #registerForm="ngForm"
        class="text-left"
      >
        <div class="text-md font-normal text-red-600 mb-6">
          * indicates required fields
        </div>
        <div class="text-lg font-bold mb-4">Personal Information</div>
        <div class="mb-6">
          <input
            type="text"
            id="firstName"
            name="firstName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* First Name"
            required
            [(ngModel)]="firstName"
          />
        </div>
        <div class="mb-6">
          <input
            type="text"
            id="lastName"
            name="lastName"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* Last Name"
            required
            [(ngModel)]="lastName"
          />
        </div>
        <div class="text-lg font-bold mb-4">Account Security</div>
        <div class="mb-6">
          <input
            type="email"
            id="email"
            name="email"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* E-mail address"
            required
            [(ngModel)]="email"
          />
          <div class="text-sm mt-2">* This will be your username</div>
        </div>
        <div class="mb-6">
          <input
            type="password"
            id="password"
            name="password"
            class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5"
            placeholder="* Password"
            required
            [(ngModel)]="password"
          />
          <div class="text-red-400 text-sm mt-4">
            * Create a password 8 to 25 characters long that includes at least 1
            uppercase and 1 lowercase letter, 1 number and 1 special character
            like an exclamation point or asterisk.
          </div>
        </div>
        <div class="mb-6">
          <mat-checkbox class="text-sm" required
            >I agree to the Terms of Use</mat-checkbox
          >
        </div>
        <button
          type="submit"
          [disabled]="!registerForm.form.valid"
          class="text-white bg-green-800 hover:bg-green-900 focus:ring-4 focus:outline-none font-medium rounded-lg text-sm w-full px-5 py-4 text-center shadow-sm"
        >
          Register Account
        </button>
      </form>
    </div>
    <span *ngIf="!loggedIn" class="text-md text-green-600 font-semibold">Existing User?</span>
    <a
      href="/login"
      *ngIf="!loggedIn"
      class="text-green-600 bg-transparent hover:bg-green-200 hover:text-green-800 border hover:border-green-800 border-green-600 focus:ring-4 focus:outline-none font-medium rounded-full text-sm px-5 py-2 text-center shadow-sm"
      >Sign In Now</a
    >
    <span class="text-md text-red-600 font-semibold"
      *ngIf="loggedIn"
      >You are already logged in</span
    >
  </div>
</div>
